.projects {
	background-color: $color-black;
	color: $color-white;
}

.projects__container {
	padding-block: 80px 60px;
}

.projects__header {
	display: flex;
	justify-content: center;
}

.projects__title {
	text-align: center;
	position: relative;
	display: inline;
}

.projects__title-image {
    position: absolute;
    top: -68px;
    left: -18px;
    filter: invert(1);
    height: 90px;
}

.projects__content {
	padding-block: 20px;
}

.projects__header + .projects__content {
	margin-top: 40px;
}

.projects__list {
	display: flex;
	flex-direction: column;
	gap: 160px;
}
