.projects {
	background-color: $color-black;
	color: $color-white;
}

.projects__container {
	padding-block: 60px;
}

.projects__header {

}

.projects__title {
	text-align: center;
}

.projects__content {
	padding-block: 20px;
}

.projects__header + .projects__content {
	margin-top: 60px;
}

.projects__list {
	display: flex;
	flex-direction: column;
	gap: 160px;
}
