# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Build output
dist/
build/
out/

# Local env
.env
.env.local
.env.*.local

# Editor junk
.idea/
.vscode/
*.swp
*.swo

# MacOS junk
.DS_Store

# Logs
logs/
*.log

# Cache
.cache/
.eslintcache/
vite.cache/