.app-footer {
    height: 100px;
    background-color: $color-black;
    color: $color-white;
}

.app-footer__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-footer__logo {
	height: 40px;
	object-fit: contain;
    filter: invert(1);
}

.app-footer__text {
    @include heading-h6;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 8px;
   align-items: flex-end;
}

.app-footer__link {
    position: relative;
    transition: all 0.3s ease;

    &:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		height: 2px;
		background-color: $color-white;
		width: 0;
		transition: all 0.3s ease;
	}

	&:hover:after {
		width: 100%;
	}
}
