.skills {
	// styles for Skills
}

.skills__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 60px;
}

.skills__header {
	text-align: center;
}

.skills__subtitle {
	color: #71717a;
	margin-top: 12px;
}

.skills__header + .skills__content {
	margin-top: 40px;
}

.skills__content {
	padding-block: 20px;
}

.skills__grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 60px;
	grid-row-gap: 40px;

	@include respond-to(desktop) {
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 40px;
		grid-row-gap: 20px;
	}

	@include respond-to(tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include respond-to(mobile) {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 10px;
	}
}

.skills__section + .skills__section {
	margin-top: 60px;
}
