.certifications {
	// styles for Certifications
}

.certifications__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 60px;
}

.certifications__content {
	padding-block: 20px;
}

.certifications__header {
	text-align: center;
}

.certifications__header + .certifications__content {
	margin-top: 40px;
}

.certifications__subtitle {
	color: #71717a;
	margin-top: 12px;
}

.certifications__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;

	// @include respond-to(desktop) {
	// 	grid-template-columns: repeat(4, 1fr);
	// 	grid-column-gap: 40px;
	// 	grid-row-gap: 20px;
	// }

	// @include respond-to(tablet) {
	// 	grid-template-columns: repeat(2, 1fr);
	// }

	// @include respond-to(mobile) {
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-column-gap: 20px;
	// 	grid-row-gap: 10px;
	// }
}