.plate {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 2px solid $color-black;
	border-radius: 4px;
	color: $color-black;
	text-align: center;
	padding: 24px 37px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.plate:hover {
	background-color: $color-black;
	color: $color-white;
	transform: scale(1.05);
}

.plate__icon {
	width: 56px;
	height: 56px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.plate__title {
	@include heading-h5;
	font-weight: 700;
}

.plate__icon + .plate__title {
	padding-top: 32px;
}
