.card {
    padding: 30px 24px;
    border: 1px solid $color-gray-500;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card:hover {
    background-color: $color-gray-800;
    border-color: transparent;
}

.card__header {
    display: flex;
    align-items: center;
}

.card__media {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.card__image {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.card__title {
    @include heading-h4;

    padding-left: 30px;
    color: $color-white;
    font-weight: 600;

}

.card__caption {
    @include heading-h6;
    
    flex-grow: 0;
    flex-shrink: 0;

    color: $color-gray-300;
    font-weight: 600;
}

.card__content {
    @include paragraph-p2;
    color: $color-gray-300;
}

.card__header + .card__content {
    padding-top: 28px;
}
